* {
  font-family: "Geist Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1, h2 {
  margin-bottom: 10px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-item {
  display: inline-block;
  background-color: skyblue;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.flex-item:hover {
  background-color: #4682b4;
}

button {
  border: none;
  font-size: 14px;
}

ul {
  list-style: none;
}

li {
    padding: 5px 0;
    background-color: #87ceeb;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}
